<div data-bind="visible: isVisible">
	<div class="middle_bar" data-bind="with: selectedObject">
		<div class="fields clearfix sales-edit-fields">
			<div class="row">
				<span class="label">Contact name:</span>
				<input class="input" type="text" data-bind="value: sFullName, valueUpdate: 'afterkeydown', onEnter: $parent.saveContact" />
			</div>
			<div class="row">
				<span class="label">Email:</span>
				<input class="input" type="text" data-bind="value: sEmail, valueUpdate: 'afterkeydown', onEnter: $parent.saveContact" />
			</div>
			<div class="row">
				<span class="label">Address:</span>
				<input class="input" type="text" data-bind="value: sAddress, valueUpdate: 'afterkeydown', onEnter: $parent.saveContact" />
			</div>
		</div>
		<div class="buttons">
			<span class="link sales-remove-link" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_DELETE'}, click: $parent.removeContactBound"></span>
			<span class="button" data-bind="click: $parent.saveContactBound, visible: !$parent.isUpdating()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: $parent.isUpdating()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
	</div>
</div>
