<div class="middle_bar" data-bind="visible: isVisible, with: selectedObject">
	<div class="panel_center" style="overflow: hidden;" >
		<div class="fields" style="height: 100%; box-sizing: border-box; padding-right: 0px;">
			<div data-bind="customScrollbar: {x: false}">
				<div class="scroll-inner">
					<div class="row">
						<h2 class="subheading" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_SALE'}"></h2>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_DATE'}"></span>
						<span class="value" data-bind="text: sDate"></span>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_LICENSE_KEY'}"></span>
						<span class="value" data-bind="text: sLicenseKey"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_REFERER'}"></span>
						<span class="value" data-bind="text: sReferer"></span>
					</div>
					<div class="row">
						<h2 class="subheading" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_CONTACT'}"></h2>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_EMAIL'}"></span>
						<span class="value" data-bind="text: sEmail"></span>
					</div>
					<div class="row">
						<h2 class="subheading" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PRODUCT'}"></h2>
						<span class="link sales-edit-link" data-bind="i18n: {'key': '%MODULENAME%/ACTION_CHANGE'}, click: $parent.editDownloadsProductBound"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_NAME'}"></span>
						<span class="value" data-bind="text: oProduct.sProductTitle, visible: !!oProduct.sProductTitle && !bIsSalesProductEditing()"></span>
						<select class="value input" data-bind="value: oProduct.id, options: $parent.getProductsList, optionsText: 'sProductTitle', optionsValue: 'id', visible: !oProduct.sProductTitle || bIsSalesProductEditing()"></select>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_GROUP'}"></span>
						<span class="value" data-bind="text: $parent.getProductGroup(), visible: !!oProduct.sProductGroupUUID"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="buttons">
		<span class="link sales-remove-link" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_DELETE'}, click: $parent.removeDownloadBound"></span>
		<span class="button" data-bind="click: $parent.saveDownloadBound, visible: !$parent.isUpdating()">
			<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
		</span>
		<span class="button" data-bind="visible: $parent.isUpdating()">
			<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
		</span>
	</div>
</div>
