<div class="screen SalesLayout" style="display: none;">
	<div class="panels" data-bind="splitterFlex: {name: 'sales_list', sizes: [60, 40]}">
		<div class="panel" data-splitter="sales_list">
			<div class="panel_content">
				<div class="middle_bar">
					<div class="panel_center unselectable" data-bind="customScrollbar: {x: false}">
						<div class="sales_list_scroll scroll-inner">
							<div class="items_list sales_list">
								<div class="items_sub_list sales_sub_list" data-bind="foreach: salesList">
									<div class="item" data-bind="css: {'checked': checked, 'selected': selected}">
										<div class="item_content">
											<span class="data table fadeout" >
												<span style="width: 30%" class="" data-bind="text: sProductName"></span>
												<span style="width: 20%" class="fixed" data-bind="text: sEmail"></span>
												<span style="width: 40%" class="" data-bind="text: sCustomerRegName"></span>
												<span style="width: 110px" class="fixed" data-bind="text: sDate"></span>
											</span>
											<div class="separator"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel_bottom unselectable" data-bind="visible: oPageSwitcher.pages().length > 0, template: {name: oPageSwitcher.ViewTemplate, data: oPageSwitcher}"></div>
			</div>
		</div>
		<div class="panel sale_viewer" data-splitter="sale_viewer">
			<div class="panel_content ">
				<div class="middle_bar" data-bind="with: selectedItem">
					<div class="fields">
						<div class="row">
							<span class="label">Product name:</span>
							<span class="value" data-bind="text: sProductName"></span>
						</div>
						<div class="row">
							<span class="label">License key:</span>
							<span class="value" data-bind="text: sLicenseKey"></span>
						</div>
						<div class="row">
							<span class="label">UUID:</span>
							<span class="value" data-bind="text: UUID"></span>
						</div>
						<div class="row">
							<span class="label">Customer name:</span>
							<span class="value" data-bind="text: sCustomerRegName"></span>
						</div>
						<div class="row">
							<span class="label">Email:</span>
							<span class="value" data-bind="text: sEmail"></span>
						</div>
						<div class="row">
							<span class="label">Net total:</span>
							<span class="value" data-bind="text: '$' + iNetTotal"></span>
						</div>
						<div class="row">
							<span class="label">Date:</span>
							<span class="value" data-bind="text: sDate"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
