<div class="screen SalesLayout" style="display: none;">
	<div class="panels" data-bind="splitterFlex: {name: 'sales_list', sizes: [10, 60, 30]}">
		<div class="panel left_panel folders_panel">
			<div class="panel_content">
				<div class="buttons big_single_button">
					<span href="javascript: void(0)" class="button" data-bind="command: bigButtonCommand, 
								style: {visibility: bigButtonText() === '' ? 'hidden' : 'visible'}">
						<span class="icon"></span>
						<span data-bind="text: bigButtonText"></span>
					</span>
				</div>
				<div class="items_list collapsible">
					<div class="folders" data-bind="foreach: aObjectTabs">
						<div class="item canSelect" data-bind="css: { 'selected': sType === $parent.selectedType() }">
							<a class="title" href="javascript: void(0);" data-bind="click: function () { $parent.showObjects(sType); }">
								<span class="name">
									<span class="text animGoal" data-bind="text: sText"></span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel" data-splitter="sales_list">
			<div class="panel_content">
				<div class="middle_bar">
					<!-- ko template: {name: oSalesView.ViewTemplate, data: oSalesView} --><!-- /ko -->
					<!-- ko template: {name: oProductsView.ViewTemplate, data: oProductsView} --><!-- /ko -->
					<!-- ko template: {name: oProductGroupsView.ViewTemplate, data: oProductGroupsView} --><!-- /ko -->
				</div>
			</div>
		</div>
		<div class="panel sale_viewer" data-splitter="sale_viewer">
			<div class="panel_content ">
				<!-- ko template: {name: oSalesView.EditViewTemplate, data: oSalesView} --><!-- /ko -->
				<!-- ko template: {name: oProductsView.EditViewTemplate, data: oProductsView} --><!-- /ko -->
				<!-- ko template: {name: oProductGroupsView.EditViewTemplate, data: oProductGroupsView} --><!-- /ko -->
			</div>
		</div>
	</div>
</div>
