<div class="panel_top" data-bind="visible: isProductsVisible()">
	<span class="search_block">
		<span class="input" data-bind="css: {'focus': isProductsSearchFocused}">
			<span class="icon search" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEARCH'}, click: productsSearchSubmit"></span>
			<input class="field" type="text" data-bind="valueUpdate: 'afterkeydown', value: productsSearchInput, onEnter: productsSearchSubmit, hasfocus: isProductsSearchFocused" />
		</span>
	</span>
</div>
<div class="panel_center unselectable" data-bind="customScrollbar: {x: false}, visible: isProductsVisible()">
	<div class="products_list_scroll scroll-inner">
		<div class="items_list products_list">
			<span class="list_notification" data-bind="visible: loadingProductsList()" id="selenium_products_loading_info">
				<span class="description" data-bind="i18n: {'key': '%MODULENAME%/INFO_LOADING_LIST'}"></span>
			</span>
			<span class="list_notification" data-bind="visible: isProductsSearch()">
				<span class="link" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CLEAR_SEARCH'}, click: onClearProductsSearchClick"></span>
				<span class="description" data-bind="text: productsSearchInput"></span>
			</span>
			<div class="items_sub_list products_sub_list" data-bind="foreach: productsList, visible : !loadingProductsList()">
				<div class="item" data-bind="css: {'checked': checked, 'selected': selected}">
					<div class="item_content">
						<span class="data table fadeout" >
							<span style="width: 30%" class="" data-bind="text: sProductName"></span>
						</span>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel_bottom unselectable" data-bind="visible: isProductsVisible() && oProductsPageSwitcher.pages().length > 0 && !loadingProductsList(), template: {name: oProductsPageSwitcher.ViewTemplate, data: oProductsPageSwitcher}"></div>
