<div class="panel_top" data-bind="visible: isVisible">
	<span class="search_block">
		<span class="input" data-bind="css: {'focus': searchFocused}">
			<span class="icon search" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEARCH'}, click: productsSearchSubmit"></span>
			<input class="field" type="text" data-bind="valueUpdate: 'afterkeydown', value: searchInputValue, onEnter: productsSearchSubmit, hasfocus: searchFocused" />
		</span>
	</span>
	<span class="toolbar">
		<span class="content">
			<span class="item checkstate" data-bind="command: refreshCommand, customTooltip: '%MODULENAME%/ACTION_REFRESH_PRODUCTS',
					checkstate: {'activeClass': 'process', 'state': refreshIndicator(), 'duration': 800}">
				<span class="icon"></span>
				<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_REFRESH_PRODUCTS'}"></span>
		</span>
	</span>
</div>
<div class="panel_center unselectable" data-bind="customScrollbar: {x: false}, visible: isVisible">
	<div class="products_list_scroll scroll-inner">
		<div class="items_list products_list">
			<span class="list_notification" data-bind="visible: isSearch() && ! listLoading()">
				<span class="link" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CLEAR_SEARCH'}, click: onClearProductsSearchClick"></span>
				<span class="description" data-bind="text: searchText"></span>
			</span>
			<span class="list_notification" data-bind="visible: listLoading()" id="selenium_products_loading_info">
				<span class="description" data-bind="i18n: {'key': 'COREWEBCLIENT/INFO_LOADING'}"></span>
			</span>
			<div class="items_sub_list products_sub_list" data-bind="foreach: objectList, visible : !listLoading()">
				<div class="item" data-bind="css: {'checked': checked, 'selected': selected, 'autocreated': bIsAutocreated}">
					<div class="item_content">
						<span class="data table fadeout" >
							<span style="width: 30%" class="" data-bind="text: sProductTitle"></span>
							<span style="width: 30%" class="" data-bind="text: sProductGroupTitle"></span>
						</span>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel_bottom unselectable" data-bind="visible: isVisible() && oPageSwitcher.pages().length > 0 && !listLoading(), template: {name: oPageSwitcher.ViewTemplate, data: oPageSwitcher}"></div>
