<div data-bind="visible: isVisible">
	<div class="middle_bar" data-bind="with: selectedObject">
		<div class="fields clearfix sales-edit-fields">
			<div data-bind="visible: UUID === ''">
				<h2>New Product</h2>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_NAME'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: sProductTitle, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_GROUP'}"></span>
				<span class="value">
					<select class="value input" data-bind="value: sProductGroupUUID, options: $parent.productGroupsFullList, optionsText: 'sTitle', optionsValue: 'UUID'"></select>
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_SHAREIT_ID'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: sShareItProductId, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_CRM_ID'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: sCrmProductId, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_PAYPAL_ITEM'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: sPayPalItem, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_PRICE'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: iProductPrice, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_EDIT_HOMEPAGE'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: sHomepage, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
				</span>
			</div>
		</div>
		<div class="buttons" data-bind="visible: !!UUID">
			<span class="link sales-remove-link" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_DELETE'}, click: $parent.removeProductBound"></span>
			<span class="button" data-bind="click: $parent.saveProduct, visible: !$parent.isUpdating()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: $parent.isUpdating()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
		<div class="buttons" data-bind="visible: !UUID">
			<span class="button" data-bind="click: $parent.saveProduct, visible: !$parent.isUpdating()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CREATE'}"></span>
			</span>
			<span class="button" data-bind="visible: $parent.isUpdating()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CREATE_IN_PROGRESS'}"></span>
			</span>
			<span class="button" data-bind="click: function () { $parent.selectedObject(null); }">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}"></span>
			</span>
		</div>
	</div>
</div>
