<div class="middle_bar" data-bind="with: selectedProductsItem">
	<div class="fields clearfix sales-edit-fields">
		<div class="row">
			<span class="label" data-bind="text: 'Product name:'"></span>
			<span class="value">
				<input class="input" type="text" data-bind="value: sProductTitle, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
			</span>
		</div>
		<div class="row">
			<span class="label" data-bind="text: 'Product group:'"></span>
			<span class="value">
				<select class="value input" data-bind="value: sProductGroupUUID, options: $parent.productGroupsFullList, optionsText: 'sTitle', optionsValue: 'UUID'"></select>
			</span>
		</div>
		<div class="row">
			<span class="label" data-bind="text: 'ShareIt product ID:'"></span>
			<span class="value">
				<input class="input" type="text" data-bind="value: iShareItProductId, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
			</span>
		</div>
		<div class="row">
			<span class="label" data-bind="text: 'PayPal Item:'"></span>
			<span class="value">
				<input class="input" type="text" data-bind="value: sPayPalItem, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
			</span>
		</div>
		<div class="row">
			<span class="label" data-bind="text: 'Product price:'"></span>
			<span class="value">
				<input class="input" type="text" data-bind="value: iProductPrice, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
			</span>
		</div>
		<div class="row">
			<span class="label" data-bind="text: 'Homepage:'"></span>
			<span class="value">
				<input class="input" type="text" data-bind="value: sHomepage, valueUpdate: 'afterkeydown', onEnter: $parent.saveProduct" />
			</span>
		</div>
	</div>
	<div class="buttons">
		<span class="button" data-bind="click: $parent.saveProduct, visible: !$parent.isUpdatingProduct()">
			<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
		</span>
		<span class="button" data-bind="visible: $parent.isUpdatingProduct()">
			<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
		</span>
	</div>
</div>