<div class="panel_top" data-bind="visible: isProductGroupsVisible()">
	<span class="search_block">
		<span class="input" data-bind="css: {'focus': isProductGroupsSearchFocused}">
			<span class="icon search" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEARCH'}, click: productGroupsSearchSubmit"></span>
			<input class="field" type="text" data-bind="valueUpdate: 'afterkeydown', value: productGroupsSearchInput, onEnter: productGroupsSearchSubmit, hasfocus: isProductGroupsSearchFocused" />
		</span>
	</span>
</div>
<div class="panel_center unselectable" data-bind="customScrollbar: {x: false}, visible: isProductGroupsVisible()">
	<div class="product_groups_list_scroll scroll-inner">
		<div class="items_list product_groups_list">
			<span class="list_notification" data-bind="visible: loadingProductGroupsList()" id="selenium_product_groups_loading_info">
				<span class="description" data-bind="i18n: {'key': '%MODULENAME%/INFO_LOADING_LIST'}"></span>
			</span>
			<span class="list_notification" data-bind="visible: isProductGroupsSearch()">
				<span class="link" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CLEAR_SEARCH'}, click: onClearProductGroupsSearchClick"></span>
				<span class="description" data-bind="text: productGroupsSearchInput"></span>
			</span>
			<div class="items_sub_list product_groups_sub_list" data-bind="foreach: productGroupsList, visible : !loadingProductGroupsList()">
				<div class="item" data-bind="css: {'checked': checked, 'selected': selected}">
					<div class="item_content">
						<span class="data table fadeout" >
							<span style="width: 30%" class="" data-bind="text: sTitle"></span>
						</span>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel_bottom unselectable" data-bind="visible: isProductGroupsVisible() && oProductGroupsPageSwitcher.pages().length > 0 && !loadingProductGroupsList(), template: {name: oProductGroupsPageSwitcher.ViewTemplate, data: oProductGroupsPageSwitcher}"></div>
