<div class="sale-edit-content" data-bind="visible: isVisible">
	<div class="middle_bar" data-bind="with: selectedObject">
		<div class="fields clearfix">
			<div class="panel_center" data-bind="customScrollbar: {x: false}">
				<div class="scroll-inner">
					<h2 class="subheading" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_SALE'}"></h2>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_UUID'}"></span>
						<span class="value" data-bind="text: UUID"></span>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_DATE'}"></span>
						<span class="value" data-bind="text: sDate"></span>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_LICENSE_KEY'}"></span>
						<span class="value" data-bind="text: sLicenseKey"></span>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_NET_TOTAL'}"></span>
						<span class="value" data-bind="text: '$' + iNetTotal"></span>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_MAINTENANCE_EXPIRATION_DATE'}"></span>
						<span class="value" data-bind="text: sMaintenanceExpirationDate"></span>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PAYPAL_ITEM'}"></span>
						<span class="value" data-bind="text: sPayPalItem"></span>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_VAT_ID'}"></span>
						<span class="value" data-bind="text: sVatId"></span>
					</div>
					<div class="row">
						<span class="label"  data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PAYMENT_ID'}"></span>
						<span class="value" data-bind="text: sPayment"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_REFERER_NUMBER'}"></span>
						<span class="value" data-bind="text: iRefNumber"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_SHAREIT_PURCHASE_ID'}"></span>
						<span class="value" data-bind="text: sShareItPurchaseId"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_IS_NOTIFIED'}"></span>
						<span class="value" data-bind="text: bIsNotified"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_RECURRENT_MAINTENANCE'}"></span>
						<span class="value" data-bind="text: bRecurrentMaintenance"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_TWO_MONTHS_EMAIL_SENT'}"></span>
						<span class="value" data-bind="text: bTwoMonthsEmailSent"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PARENT_SALE_ID'}"></span>
						<span class="value" data-bind="text: iParentSaleId"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PAYMENT_SYSTEM'}"></span>
						<span class="value" data-bind="text: $parent.getPaymentSystem()"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_NUMBER_OF_LICENSES'}"></span>
						<span class="value" data-bind="text: iNumberOfLicenses"></span>
					</div>
					<span  data-bind="visible: !!iDownloadId">Download section</span>
					<div class="fields clearfix"  data-bind="visible: !!iDownloadId">
						<div class="row">
							<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_REFERER'}"></span>
							<span class="value" data-bind="text: sReferer"></span>
						</div>
						<div class="row">
							<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_IP'}"></span>
							<span class="value" data-bind="text: sIp"></span>
						</div>
						<div class="row">
							<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_GAD'}"></span>
							<span class="value" data-bind="text: sGad"></span>
						</div>
						<div class="row">
							<span class="label"></span>
							<span class="value" data-bind="text: sProductVersion"></span>
						</div>
						<div class="row">
							<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_LICENSE_TYPE'}"></span>
							<span class="value" data-bind="text: iLicenseType"></span>
						</div>
						<div class="row">
							<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_REFERRER_PAGE'}"></span>
							<span class="value" data-bind="text: iReferrerPage"></span>
						</div>
						<div class="row">
							<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_IS_UPGRADE'}"></span>
							<span class="value" data-bind="text: bIsUpgrade"></span>
						</div>
						<div class="row">
							<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PLATFORM_TYPE'}"></span>
							<span class="value" data-bind="text: iPlatformType"></span>
						</div>
					</div>

					<h2 class="subheading" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_CONTACT'}"></h2>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_CUSTOMER_NAME'}"></span>
						<span class="value" data-bind="text: sCustomerRegName"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_EMAIL'}"></span>
						<span class="value" data-bind="text: sEmail"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PHONE'}"></span>
						<span class="value" data-bind="text: sPhone"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_ADDRESS'}"></span>
						<span class="value" data-bind="text: sAddress"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_LANGUAGE'}"></span>
						<span class="value" data-bind="text: sLanguage"></span>
					</div>
					<h2 class="subheading" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PRODUCT'}"></h2>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PRODUCT_UUID'}"></span>
						<span class="value" data-bind="text: oProduct.UUID, visible: !!oProduct.UUID"></span>
					</div>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SALE_EDIT_PRODUCT_NAME'}"></span>
						<span class="value" data-bind="text: oProduct.sProductTitle, visible: !!oProduct.sProductTitle"></span>
						<select class="value input" data-bind="value: oProduct.Id, options: $parent.getProductsList, optionsText: 'sProductTitle', optionsValue: 'id', visible: !oProduct.sProductTitle"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: $parent.saveSale, visible: !$parent.isUpdating()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: $parent.isUpdating()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
	</div>
</div>
