<div class="item canSelect" data-bind="css: { 'selected': Enums.SalesStorages.Sales === selectedStorage() }">
	<a class="title" href="javascript: void(0);" data-bind="click: showSales">
		<span class="name">
			<span class="text animGoal" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SHOW_SALES_LIST'}"></span>
		</span>
	</a>
</div>
<div class="item canSelect" data-bind="css: { 'selected': Enums.SalesStorages.Products === selectedStorage() }">
	<a class="title" href="javascript: void(0);" data-bind="click: showProducts">
		<span class="name">
			<span class="text animGoal" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SHOW_PRODUCTS_LIST'}"></span>
		</span>
	</a>
</div>
<div class="item canSelect" data-bind="css: { 'selected': Enums.SalesStorages.ProductGroups === selectedStorage() }">
	<a class="title" href="javascript: void(0);" data-bind="click: showProductGroups">
		<span class="name">
			<span class="text animGoal" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SHOW_PRODUCT_GROUPS_LIST'}"></span>
		</span>
	</a>
</div>