<div class="item canSelect" data-bind="css: { 'selected': 'sales' === selectedStorage() }">
	<a class="title" href="javascript: void(0);" data-bind="click: showSales">
		<span class="name">
			<span class="text animGoal" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SHOW_SALES_LIST'}"></span>
		</span>
	</a>
</div>
<div class="item canSelect" data-bind="css: { 'selected': 'licenses' === selectedStorage() }">
	<a class="title" href="javascript: void(0);" data-bind="click: showLicenses">
		<span class="name">
			<span class="text animGoal" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SHOW_LICENSES_LIST'}"></span>
		</span>
	</a>
</div>